<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.question.AnswerMapper">

    <insert id="addAnswer" parameterType="com.example.hotel.po.Answer" useGeneratedKeys="true" keyProperty="answerId">
        insert into Answers(userId, questionId, answer)
        values(#{userId}, #{questionId}, #{answer})
    </insert>

    <select id="getAllAnswers" resultMap="Answer">
        select * from Answers
    </select>

    <select id="getQuestionAnswers" resultMap="Answer">
        select * from Answers
        where questionId = #{questionId}
    </select>

    <delete id="annulAnswer">
        delete from Answers
        where answerId = #{answerId}
    </delete>

    <resultMap id="Answer" type="com.example.hotel.po.Answer"/>
</mapper>