<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.question.QuestionMapper">

    <insert id="addQuestion" parameterType="com.example.hotel.po.Question" useGeneratedKeys="true" keyProperty="id">
        insert into Questions(userID, hotelID, question)
        values(#{userID}, #{hotelID}, #{question})
    </insert>

    <update id="annualQuestion">
        update Questions
        set available = false
        where id = #{id}
    </update>

    <select id="getHotelQuestion" resultMap="Question">
        select *
        from Questions
        where hotelID = #{hotelId}
    </select>

    <select id="getUserQuestion" resultMap="Question">
        select *
        from Questions
        where userID = #{userId}
    </select>

    <resultMap id="Question" type="com.example.hotel.po.Question">
    </resultMap>

</mapper>