<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select *
        from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select *
        from OrderList
        where userId = #{userid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId, hotelId, hotelName, hotelPhoneNum, checkInDate, checkOutDate, roomType, roomNum,
                              peopleNum, haveChild, createDate, price, clientName, phoneNumber, orderState)
        values (#{userId}, #{hotelId}, #{hotelName}, #{hotelPhoneNum}, #{checkInDate}, #{checkOutDate}, #{roomType},
                #{roomNum}, #{peopleNum}, #{haveChild}, #{createDate}, #{price}, #{clientName}, #{phoneNumber},
                #{orderState})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select *
        from OrderList
        where id = #{orderid}
    </select>
    <!--取消订单的数据库操作 todo-->
    <update id="annulOrder">
        update orderlist
        set orderState='已撤销'
        where id = #{orderid}
    </update>

    <update id="finishOrder">
        update orderlist
        set orderState = '已完成'
        where id = #{orderId}
    </update>


    <update id="updateComment" parameterType="com.example.hotel.po.Comment">
        update orderlist
        set comments = #{comment},
        points = #{points},
        sanitation = #{sanitation},
        environment = #{environment},
        service = #{service},
        equipment = #{equipment}
        where id = #{orderId}
    </update>

    <select id="getComment" resultMap="Comment">
        select * from orderlist
        where id = #{orderId}
    </select>

    <select id="getAllComment" resultMap="Comment">
        select * from orderlist
    </select>

    <select id="getUserComment" resultMap="Comment">
        select * from orderlist
        where userId = #{userId}
    </select>

    <select id="getHotelComment" resultMap="Comment">
        select * from orderlist
        where hotelId = #{hotelId}
    </select>

    <update id="annulComment">
        update orderlist
        set comments = NULL,
        points = NULL,
        sanitation = NULL,
        environment = NULL,
        service = NULL,
        equipment = NULL
        where id = #{orderId}
    </update>

    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
    <resultMap id="Comment" type="com.example.hotel.po.Comment">
        <id column="id" property="orderId"/>
        <result column="userId" property="userId"/>
        <result column="points" property="points"/>
        <result column="sanitation" property="sanitation"/>
        <result column="environment" property="environment"/>
        <result column="service" property="service"/>
        <result column="equipment" property="equipment"/>
        <result column="comments" property="comment"/>
    </resultMap>
</mapper>