<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.question.AnswerMapper">

    <insert id="addLike" parameterType="com.example.hotel.po.Like">
        insert into Likes(id, userID, hotelID)
        values(#{id}, #{userID}, #{hotelID})
    </insert>

    <delete id="annualLike">
        delete from Likes
        where id = #{id}
    </delete>

    <select id="getHotelLike" resultMap="Like">
        select * from Likes
        where hotelID = #{hotelID}
    </select>

    <select id="getUserLike" resultMap="Like">
        select * from Likes
        where userID = #{userID}
    </select>

    <resultMap id="Like" type="com.example.hotel.po.Like">
        <id column="id" property="id"/>
        <result column="userID" property="userID"/>
        <result column="hotelID" property="hotelID"/>
    </resultMap>
</mapper>