<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.VIP.LevelMapper">
    <insert id="formulateVIPLevel">
        insert into VIPLevel(level, requestConsumption)
        values (#{level}, #{requestConsumption})
    </insert>
    <update id="changeLevelRequest">
        update VIPLevel
        set requestConsumption = #{requestConsumption}
        where level = #{level}
    </update>
    <select id="getTheRequestOfLevel" resultType="int">
        select requestConsumption
        from VIPLevel
        where level = #{level}
    </select>
</mapper>
