<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.user.CreditMapper">
    <insert id="addCredit" parameterType="com.example.hotel.po.Credit" useGeneratedKeys="true" keyProperty="id">
        insert into Credits(userId, `change`, date, now, reason)
        values(#{userId}, #{change}, #{date}, #{now}, #{reason})
    </insert>

    <select id="getUserCredit" resultMap="Credit">
        select * from Credits
        where userId = #{userId}
    </select>

    <select id="getAllCredit" resultMap="Credit">
        select * from Credits
    </select>
    <resultMap id="Credit" type="com.example.hotel.po.Credit"/>
</mapper>