<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
            useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelStar,hotelName,phoneNum,rate,manager_id, picture)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{hotelName},#{phoneNum},#{rate},#{managerId}, #{url})
    </insert>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>
    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>

    <update id="updatePicture">
        update hotel set picture = #{url} where id = #{id}
    </update>

    <update id="updateHotelPoints">
        update hotel set commentTime = #{commentTime},
        points = #{points},
        sanitation = #{sanitation},
        environment = #{envrionment},
        service = #{service},
        equipment = #{equipment}
        where id = #{id}
    </update>

    <resultMap id="Hotel" type="com.example.hotel.po.Hotel">
        <id column="id" property="id"/>
        <result column="hotelName" property="hotelName"/>
        <result column="address" property="address"/>
        <result column="bizRegion" property="bizRegion"/>
        <result column="hotelDescription" property="description"/>
        <result column="hotelStar" property="hotelStar"/>
        <result column="phoneNum" property="phoneNum"/>
        <result column="rate" property="rate"/>
        <result column="manager_id" property="managerId"/>
        <result column="commentTime" property="commentTime"/>
        <result column="points" property="points"/>
        <result column="sanitation" property="sanitation"/>
        <result column="environment" property="environment"/>
        <result column="picture" property="picture"/>
    </resultMap>

</mapper>