<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
            useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelStar,hotelName,phoneNum)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{hotelName},#{phoneNum})
    </insert>

    <update id="updateHotelName">
        update hotel set hotelName = #{hotelName} where id = #{id}
    </update>

    <update id="updateHotelBizRegion">
        update hotel set bizRegion = #{bizRegion} where id = #{id}
    </update>

    <update id="updateHotelAddress">
        update hotel set address = #{address} where id = #{id}
    </update>

    <select id="getHotelAddress" resultType="String">
        select address from Hotel where id = #{id}
    </select>

    <update id="updateHotelDescription">
        update hotel set hotelDescription = #{description} where id = #{id}
    </update>

    <update id="updateHotelPhoneNum">
        update hotel set phoneNum = #{phoneNum} where id = #{id}
    </update>

    <update id="updateHotelStar">
        update hotel set hotelStar = #{hotelStar} where id = #{id}
    </update>

    <delete id="deleteHotel">
        delete from Hotel where id = #{id}
    </delete>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>
    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>

    <update id="updatePicture">
        update hotel set picture = #{url} where id = #{id}
    </update>

    <update id="updateHotelPoints">
        update hotel set commentTime = #{commentTime},
        points = #{points},
        sanitation = #{sanitation},
        environment = #{environment},
        service = #{service},
        equipment = #{equipment}
        where id = #{id}
    </update>

    <resultMap id="Hotel" type="com.example.hotel.po.Hotel">
        <id column="id" property="id"/>
        <result column="hotelName" property="hotelName"/>
        <result column="address" property="address"/>
        <result column="bizRegion" property="bizRegion"/>
        <result column="hotelDescription" property="description"/>
        <result column="hotelStar" property="hotelStar"/>
        <result column="phoneNum" property="phoneNum"/>
        <result column="commentTime" property="commentTime"/>
        <result column="points" property="points"/>
        <result column="sanitation" property="sanitation"/>
        <result column="environment" property="environment"/>
        <result column="service" property="service"/>
        <result column="equipment" property="equipment"/>
        <result column="picture" property="picture"/>
    </resultMap>

</mapper>