<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.collection.CollectionMapper">

    <insert id="addCollection" parameterType="com.example.hotel.po.Collection" useGeneratedKeys="true" keyProperty="id">
        insert into Collections(userID, hotelID)
        values(#{userID}, #{hotelID})
    </insert>

    <delete id="annualCollection">
        delete from Collections
        where id = #{id}
    </delete>

    <select id="getUserCollection" resultMap="Collection">
        select *
        from Collections
        where userID = #{userId}
    </select>

    <select id="getHotelCollection" resultMap="Collection">
        select *
        from Collections
        where hotelId = #{hotelId}
    </select>

    <resultMap id="Collection" type="com.example.hotel.po.Collection">
        <id column="id" property="id"/>
        <result column="userID" property="userID"/>
        <result column="hotelID" property="hotelID"/>
    </resultMap>
</mapper>